<html>
	<body>
		<h1>Liste des articles</h1>
		<ul>
			<li>{{message[0]}}</li>
			<li>{{message[1]}}</li>
			<li>{{message[2]}}</li>
			<li>{{message[3]}}</li>
			<li>{{message[4]}}</li>
		</ul>
		<p>Nouvelle articles: </p>
	</body>
</html>
